a{
    color:white
}

.navbar-brand {
    text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.header{
    font-family: 'DM Sans', sans-serif;
    font-size:2.3rem;
    text-decoration: none;
    font-weight:bold;

    h1{
        text-decoration: none;
    }

    &:hover{
        text-decoration: none;
        &:hover , &:focus , &:active{
            text-decoration: none;
        }
    }
}

.custom-dropdown , .dropdown-toggle{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileOptions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //border: solid red 2px;
    width: 100%;
    gap: 0.4rem;

    .link{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

.popover{
    background: grey;
    display: flex;
    flex-direction: column;


    a , p{
        color: white;
        text-decoration: none;
        font-size:1rem;
        cursor: pointer;
            &:hover , &:focus , &:active{
                text-decoration: none;
                color: white;
            }

        &{
            &:hover{
                text-decoration: none;
                color:pink;
            }
        }
    }
}
